// fonts
$foot-size: 20px;
$foot-family: 'NotoSansTaiViet-400';
$foot-wight: 300;
// color
$white: #ffffff;
$dark: #333333;
$black: black;
$br-color: #ebebebf9;
$bg-color: #d2d2d2a3;


// container brekpoints

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 970px;
$sm: 576px;
$xs: 320px;
